{% extends extends_base_template %}
{% load dashgent_filters %}

{% block caption %}
    {{ caption }}
    <!--<button type="button" class="btn btn-default btn-xs" style="align: right" data-toggle="modal" data-target="#{{ widget_id }}-modal">View data</button>-->
{% endblock %}

{% block spanner %}
    {% include "generic_widgets/include_more_menu.html" %}
{% endblock %}

{% block widget_main %}
    <div id="{{ widget_id }}" style="height: 310px; margin: -25px auto 0 auto;"></div>
    <div style="margin-top: -65px; {% if custom_attr|lookup:"stripped_base" == "yes" %} width: 100%; text-align: center;{% endif %}">
        {% include 'generic_widgets/include_sub_text.html' %}
    </div>
    <script type="text/javascript">
        var rawData = '{{ custom_attr|lookup:'color_bands' }}';
        if(rawData.length == 0){
            rawData = '[{"percentage":0.2,"color":"#26B99A"},{"percentage":0.6,"color":"#FFD433"},{"percentage":1,"color":"#FF4500"}]';
        }
        var parser = new DOMParser();
        var dom = parser.parseFromString(rawData, 'text/html');
        var jsonData = dom.body.textContent;
        var jsonList = JSON.parse(jsonData);
        var colorBands = [];
        for(var key in jsonList){
            var jsonColorBand = jsonList[key];
            colorBands[key] = [jsonColorBand["percentage"], jsonColorBand["color"]];
        }

        var caption = "{{ caption }}";
        var objectList = JSON.parse('{{rows|jsonify|safe}}');
        var data = {};
        objectList.forEach(function (obj) {
            data = obj;
        });
        var dom = document.getElementById("{{ widget_id }}");
        var myChart = echarts.init(dom);
        option = null;
        option = {
            tooltip : {
                formatter: "{a} <br/>{b} : {c}"
            },
            series: [
                {
                    {% if custom_attr|lookup:'start_angle' != '' %}
                        startAngle : parseInt('{{ custom_attr|lookup:'start_angle' }}'),
                    {% else %}
                        startAngle: 225,
                    {% endif %}
                    {% if custom_attr|lookup:'end_angle' != '' %}
                        endAngle : parseInt('{{ custom_attr|lookup:'end_angle' }}'),
                    {% else %}
                        endAngle: -45,
                    {% endif %}
                    name: caption,
                    center : ['50%', '40%'],
                    axisTick: {
                        show:true,
                        splitNumber : 5
                    },
                    axisLine: {
                        show:true,
                        lineStyle: {
                            color : colorBands,
                            width: 30
                        }
                    },
                    clockwise: true,
                    splitNumber : 10,
                    type: 'gauge',
                    {% if custom_attr|lookup:'maximum_scale' != '' %}
                        max: parseInt('{{ custom_attr|lookup:'maximum_scale' }}'),
                    {% endif %}
                    {% if custom_attr|lookup:'minimum_scale' != '' %}
                        min: parseInt('{{ custom_attr|lookup:'minimum_scale' }}'),
                    {% endif %}
                    detail: {
                    {% if custom_attr|lookup:'show_percentage' == 'yes' %}
                        formatter:'{value}%'
                    {% else %}
                        formatter:'{value}'
                    {% endif %}
                    },
                    data: [{value: data.value, name: ""}]
                }
            ]
        };

        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
{% endblock %}