{% load crispy_forms_tags %}

{% block content_main %}

    <div class="list-view">

        {% if object_list|length == 0 %}
            <div class="row">
                <div class="col-12 text-center">
                    <h6>No records to display</h6>
                </div>
            </div>
        {% else %}

        <div id="ctxObjectList_{{ list_url_id }}" href="./all">
            {% block object_list %}{% endblock %}
        </div>
             {% if paginator.num_pages > 0  %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>

                <ul class="pager">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="{{ list_url }}?page={{ page_obj.previous_page_number }}&search_string={{ search_string }}" class="mxlajax" html-target="ctxObjectList_{{ list_url_id }}" >previous</a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li>
                            <a href="{{ list_url }}?page={{ page_obj.next_page_number }}&search_string={{ search_string }}" class="mxlajax" html-target="ctxObjectList_{{ list_url_id }}" >next</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        {% endif %}
    </div>


{% endblock %}

