{% extends request.is_ajax|yesno:"base_ajax.html,xf_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load xf_filters %}
{% load dashgent_filters %}

{% block title %}
    {{ page_title }}
{% endblock %}


{% block h %}

    {% for js in crud_js_assets %}
        <script src="{% static js %}"></script>
    {% endfor %}

    {% for css in crud_css_assets %}
        <link href="{% static css %}" rel="stylesheet"/>
    {% endfor %}


{% endblock %}

{% block main %}



    <script>
        $(document).ready(function () {

            // Date picker
            //$(".datepicker").datepicker({ dateFormat: 'yyyy-mm-dd'});

            // Buttons
            //$( "input:submit").button();
            //$( ".form a").button();

            window.setTimeout(function(){ selectURL('{% url url_name_list  %}')}, 1);
            //selectURL('{% url url_name_list  %}');
            //alert('done');
        });

    </script>

<div class="row">
    <div class="{{ 2|cw }}">

    </div>

    <div class="{{ 8|cw }}">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ form.Meta.title }}
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div>{{ form.Meta.instruction }}</div>
                <br>
                <form id="frmNonAjax" method="post" class="form-horizontal form-label-left {{ form.helper.form_class}}" novalidate="">
                    {% csrf_token %}
                    <div class="form-group">

                        {% crispy form %}

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a class="btn btn-primary" type="button" href="{% url url_name_list  %}">Done</a>

                                {% if action == "Detail" %}
                                {% else %}
                                <input type="submit" class="btn btn-success" value="{{ action }}" id="btnSubmit">
                                <button class="btn btn-primary" type="button">Cancel</button>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="{{ 2|cw }}">

    </div>
</div>


{% endblock %}