
{% load staticfiles %}

{% block h %}

    {% for js in crud_js_assets %}
        <script src="{% static js %}"></script>
    {% endfor %}

    {% for css in crud_css_assets %}
        <link href="{% static css %}" rel="stylesheet"/>
    {% endfor %}


{% endblock %}



{% block main %}
<!-- Region B -->

    {% include "content_ajax.html" %}

    <div class="list-view">
        <div class="row-fluid">
            <div class="col-md-2">
                    {% for action in screen_actions %}
                                <a class="btn btn-default {% if forloop.counter == 1 %}btn-primary {% endif %} " {% if action.use_ajax %}data-toggle="modal"
                                    data-target="#frmDlg" html-target="#frmDlgHtml" {% endif %}
                                       href="{% url action.url_name%}?{{ new_initial_data }}" object_list="#ctxObjectList_{{ list_url_id }}">
                                    {{ action.action_caption }}</a>
                    {% endfor %}

            </div>


            <div class="col-md-5">
            {% if preset_filter_list|length > 1 %}
            <div class="btn-group">
                {% for preset_filter_name, preset_filter_caption in preset_filter_list.items %}
                    <a href="./{{ preset_filter_name }}" class="btn btn-info {% if preset_filter_name == preset_filter %} active {% endif %}" type="button">{{ preset_filter_caption  }}</a>
                {% endfor %}
            {% endif %}
            </div>
            </div>

            <div class="nav navbar-right col-md-5">
                {% if search %}
                <form class="form-search2 mxlget" method="get" id="frmSearch4" html-target="ctxObjectList_{{ list_url_id }}" action="{{ list_url }}">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search_string" value="{{ search_string }}" id="txtSearchString"
                               placeholder="{{ search_hint }}">
                        <span class="input-group-btn ">
                      <button class="btn btn-default" type="submit">Go!</button><a href="{{ list_url }}"
                                                                                   class="btn btn-default mxlajax"
                                                                                   html-target="ctxObjectList_{{ list_url_id }}"
                                                                                   id="lnkClear">Clear</a>
                    </span>
                    </div>
                </form>
                {% endif %}
            </div>


        </div>

        <div class="clearfix"></div>


        <div class="x_panel">
            {% if list_hint %}

                <div class="x_title">
                    {{ list_hint }}


                    <div class="clearfix"></div>
                </div>
            {% endif %}


            <div class="x_content">

                <div id="ctxObjectList_{{ list_url_id }}" href="{{ list_url }}">

                {% if object_list|length == 0 %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <h6>No records to display</h6>
                        </div>
                    </div>
                {% else %}
                    {% block object_list %}{% endblock %}
                        {% if paginator.num_pages > 0  %}
                            <span class="current">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</span>

                            <ul class="pager">
                                {% if page_obj.has_previous %}
                                    <li>
                                        <a href="{{ list_url }}?page={{ page_obj.previous_page_number }}&search_string={{ search_string }}"
                                           class="mxlajax" html-target="ctxObjectList_{{ list_url_id }}">previous</a>
                                    </li>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <li>
                                        <a href="{{ list_url }}?page={{ page_obj.next_page_number }}&search_string={{ search_string }}"
                                           class="mxlajax" html-target="ctxObjectList_{{ list_url_id }}">next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}

                {% endif %}
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        function mxlSuccess() {
            //$("#lnkClear").click();
            RefreshObjectListForDiv($("#ctxObjectList_{{ list_url_id }}"));

        }

        var base_url = '{%  url url_name_list %}';

        $SIDEBAR_MENU.find('a[href="/library/book/"]').parent("li").addClass("current-page")
        $SIDEBAR_MENU.find('a').filter(function () {
            return this.href == "/library/book/";
        }).parent('li').addClass('current-page').parents('ul').slideDown(function() {
            setContentHeight();
        }).parent().addClass('active');

    </script>

<!-- /Region B -->


{% endblock %}