


{% extends "t_error_base.html" %}

{% block title %}Something went wrong{% endblock %}

{% block main %}
                  <h1 class="error-number">403</h1>
              <h2>Well this embarrassing. But you actually don't have permission to see this page.</h2>
              <p>Do not worry. There are worser things than this.</p>
              <div class="mid_center">
                <h3>Try something else. Netflix and chill maybe?</h3>
                <form>
                  <div class="col-xs-12 form-group pull-right top_search">
                  </div>
                </form>
              </div>
{%  endblock %}