{% extends "t_error_base.html" %}

{% block title %}Something went wrong{% endblock %}

{% block main %}
                  <h1 class="error-number">500</h1>
              <h2>Sorry but something went wrong. Maybe a coder made a mistake. Or an ant crawled into the database. Or maybe something else..</h2>
              <p>Do not worry. There are worser things than this.</p>
              <div class="mid_center">
                <h3>Try something else. Maybe go on a date?</h3>
                <form>
                  <div class="col-xs-12 form-group pull-right top_search">
                  </div>
                </form>
              </div>
{%  endblock %}
