{% extends "xf_base.html" %}
{% load staticfiles %}

{% block h %}

    {% for js in crud_js_assets %}
        <script src="{% static js %}"></script>
    {% endfor %}

    {% for css in crud_css_assets %}
        <link href="{% static css %}" rel="stylesheet"/>
    {% endfor %}


{% endblock %}



{% block main %}



    <h1>

    </h1>
    <hr>
    {% include "content_ajax.html" %}

    <div class="list-view">
        <div class="row-fluid">
            <div class="col-md-2">
                {% if add %}
                    <!--<a href="new" class="btn btn-primary">Create new</a>-->
                    <a data-toggle="modal" href="new" class="btn btn-primary btn-default" data-target="#frmDlg"
                       html-target="#frmDlgHtml">Create new</a>
                {% endif %}
            </div>


            <div class="col-md-5">
            {% if preset_filter_list|length > 1 %}
            <div class="btn-group">
                {% for preset_filter_name, preset_filter_caption in preset_filter_list.items %}
                    <a href="./{{ preset_filter_name }}" class="btn btn-info {% if preset_filter_name == preset_filter %} active {% endif %}" type="button">{{ preset_filter_caption  }}</a>
                {% endfor %}
            {% endif %}
            </div>
            </div>

            <div class="nav navbar-right col-md-5">
                <form class="form-search2 mxlget" method="get" id="frmSearch4" html-target="ctxObjectList" action="{{ current_url }}">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search_string" value="{{ search_string }}"
                               placeholder="Search for...">
                        <span class="input-group-btn ">
                      <button class="btn btn-default" type="submit">Go!</button><a href="{{ current_url }}"
                                                                                   class="btn btn-default mxlajax"
                                                                                   html-target="ctxObjectList"
                                                                                   id="lnkClear">Clear</a>
                    </span>
                    </div>


                </form>
            </div>


        </div>

        <div class="clearfix"></div>


        <div class="x_panel">
            {% if list_hint %}

                <div class="x_title">
                    {{ list_hint }}


                    <div class="clearfix"></div>
                </div>
            {% endif %}


            <div class="x_content">

                <div id="ctxObjectList" href="{{ current_url }}">

                    {% block object_list %}{% endblock %}

                    <span class="current">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</span>

                    <ul class="pager">
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}&search_string={{ search_string }}"
                                   class="mxlajax" html-target="ctxObjectList">previous</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}&search_string={{ search_string }}"
                                   class="mxlajax" html-target="ctxObjectList">next</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block extrajs %}

    <script type="text/javascript">
        function mxlSuccess() {
            $("#lnkClear").click();
        }
    </script>



{% endblock %}