{% extends extends %}
{% load getattribute %}


<!--
    This is a generic object list. It will be based on the model.
-->

{% block object_list %}
<!-- Region A -->

    <table class="table table-hover">
        <thead>
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
            {% if row_action_list|length > 0 %}
            <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                {% for field in fields %}
                    <td {% if row_default_action %}class="clickable-cell" data-href="{% url row_default_action.url_name object|getattribute:primary_key %}"{% endif %}>
                    {% if forloop.counter == 12 and row_default_action != None %}
                        <a href="{% url row_default_action.url_name object|getattribute:primary_key %}">{{ object|getattribute:field }}</a>
                    {% else %}
                    {{ object|getattribute:field }}
                    {% endif %}
                    </td>
                {% endfor %}
                {% if row_action_list|length > 0 %}
                <td>
                <div class="btn-group">
                        <a class="btn btn-mini btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            Actions
                            <span class="caret"></span>
                        </a>
                    <ul class="dropdown-menu small">
                    {% for action in row_action_list %}

                                <li><a {% if action.use_ajax %}data-toggle="modal"
                                    data-target="#frmDlg" html-target="#frmDlgHtml" {% endif %}
                                       href="{% url action.url_name object|getattribute:primary_key %}">
                                    {{ action.action_caption }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
<!-- /Region A -->

{% endblock %}

