{% extends "xf_base.html" %}

{% block main %}






    <h1>

    </h1>
    <hr>
    {% include "content_ajax.html" %}

    <div class="list-view">
        <div class="row-fluid">

            <div class="col-md-5">
                {% if add %}
                    <!--<a href="new" class="btn btn-primary">Create new</a>-->
                    <a data-toggle="modal" href="new" class="btn btn-primary btn-default" data-target="#frmDlg"
                       html-target="#frmDlgHtml">Create new</a>
                {% endif %}
            </div>
            <div class="nav navbar-right col-md-5">
                <form class="form-search2 mxlget" method="get" id="frmSearch4" html-target="ctxObjectList">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search_string" value="{{ search_string }}"
                               placeholder="Search for...">
                        <span class="input-group-btn ">
                      <button class="btn btn-default" type="submit">Go!</button><a href="./all"
                                                                                   class="btn btn-default mxlajax"
                                                                                   html-target="ctxObjectList"
                                                                                   id="lnkClear">Clear</a>
                    </span>
                    </div>


                </form>
            </div>


        </div>

        <div class="clearfix"></div>


        <div class="x_panel">
            {% if list_hint %}

                <div class="x_title">
                    {{ list_hint }}


                    <div class="clearfix"></div>
                </div>
            {% endif %}


            <div class="x_content">

                <div id="ctxObjectList" href="./all">

                    {% block object_list %}{% endblock %}

                    <span class="current">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</span>

                    <ul class="pager">
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}&search_string={{ search_string }}"
                                   class="mxlajax" html-target="ctxObjectList">previous</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}&search_string={{ search_string }}"
                                   class="mxlajax" html-target="ctxObjectList">next</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block extrajs %}

    <script type="text/javascript">
        function mxlSuccess() {
            $("#lnkClear").click();
        }
    </script>

{% endblock %}