{% extends extends_base_template %}
{% load dashgent_filters %}

{% block caption %}
    {{ caption }}
    <!--<button type="button" class="btn btn-default btn-xs" style="align: right" data-toggle="modal" data-target="#{{ widget_id }}-modal">View data</button>-->
{% endblock %}

{% block spanner %}
    {% include "generic_widgets/include_more_menu.html" %}
{% endblock %}

{% block widget_main %}
    <div id="{{ widget_id }}" style="height: 330px; margin: -30px auto 0 auto"></div>
    <div style="margin-top: -65px; {% if custom_attr|lookup:"stripped_base" == "yes" %} width: 100%; text-align: center;{% endif %}">
        {% include 'generic_widgets/include_sub_text.html' %}
    </div>
    <script type="text/javascript">
        var caption = "{{ caption }}";
        var objectList = JSON.parse('{{rows|jsonify|safe}}');
        var data = {};
        objectList.forEach(function (obj) {
            data = obj;
        });
        var dom = document.getElementById("{{ widget_id }}");
        var myChart = echarts.init(dom);
        option = null;
        option = {
            tooltip : {
                formatter: "{a} <br/>{b} : {c}"
            },
            series: [
                {
                    startAngle: 225,
                    endAngle: -45,
                    name: caption,
                    axisTick:{show:true},
                    clockwise:true,
                    type: 'gauge',
                    detail: {
                        formatter:'{value}%'
                    },
                    data: [{value: data.value, name: ""}]
                }
            ]
        };

        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
{% endblock %}