{% extends "xf_viz_base.html" %}
{% load dashgent_filters %}

{% block main_title %}
    {{ page.main_title }}
{% endblock %}

{% block title %}
    {{ page.title }}
{% endblock %}


{% block main %}

    <div class="clearfix"></div>

    {% if widget_tiles %}
    {% include "t_block_ajxldr_tiles.html" with widget_slug=widget_tiles  %}
    {% endif %}

    <div class="flex-row row">
        <div class="{{ 6|cw }}" >
        {% if widget_widget_a %}
        {% include "t_block_ajxldr_xpanel.html" with widget_slug=widget_widget_a height=" " %}
        {% endif %}
        </div>
        <div class="{{ 6|cw }}" >
        {% if widget_widget_a %}
        {% include "t_block_ajxldr_xpanel.html" with widget_slug=widget_widget_b height=" " %}
        {% endif %}
        </div>
    </div>

    <div class="row flex_row">
        <div class="{{ 6|cw }}" >
        {% if widget_widget_c %}
        {% include "t_block_ajxldr_xpanel.html" with widget_slug=widget_widget_c height=" " %}
        {% endif %}
        </div>
        <div class="{{ 6|cw }}" >
        {% if widget_widget_d %}
        {% include "t_block_ajxldr_xpanel.html" with widget_slug=widget_widget_d height=" " %}
        {% endif %}
        </div>
    </div>


{% endblock %}